@import "../../../utilities/partials/size";
@import "../../../utilities/partials/colorCodes";

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: $std-spacing;
}

.head {
  font-size: 40px;

  @media (min-width: 576px) {
    font-size: 48px;
  }
}

.name {
  margin: $std-spacing 0;
}

.psText {
  color: map-get($map: $gray, $key: "dark3");
  margin-top: 2 * $std-spacing;
  line-height: 19px;
  max-width: 500px;
}

.help {
  margin-top: $std-spacing;
  text-decoration: none;
}
