@import "../../../utilities/partials/colorCodes";
@import "../../../utilities/partials/size";

.toolbar {
  background: $toolbar-background;
  color: $black;
  height: 64px;
  display: flex;
  padding: 0 $std-spacing;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 5px;
  margin-left: $std-spacing;
  font-size: 22px;
}

.logo {
  height: 40px;
  background-color: white;
  padding: 5px;
  display: inline-block;
  margin: $std-spacing;
  border-radius: $border-radius;
}
