@import "../../../utilities/partials/size";
@import "../../../utilities/partials/colorCodes";

.cont {
  $margin-vert: 2 * $std-spacing;
  max-width: 700px;
  margin:$margin-vert auto;
  padding: 0 $std-spacing;
  box-sizing: content-box;
  min-height: calc(100% - #{2 * $margin-vert});
}

.center {
  display: flex;
  justify-content: center;
}

.heading {
  margin-bottom: 2 * $std-spacing;
}

.para {
  margin-bottom: $std-spacing;
  text-align: justify;
  line-height: 1.3;
}

.subHead {
  margin-top: 1.5 * $std-spacing;
  margin-bottom: $std-spacing;
}

.headshot {
  width: 100%;
  border: 3px solid map-get($map: $orange, $key: "normal");
  padding: 2px;
  border-radius: 10px;
}
