// colours picked from this palette
// https://coolors.co/db2763-b0db43-12eaea-bce7fd-c492b1

$green: (
  "light3": #c5e576,
  "normal": #b0db43
);

// special scenarios
$black: #333333;
$white: #ffffff;
$toolbar-background: map-get($green, "normal");
