// colours picked from this palette
// https://coolors.co/ff6b35-25b071-888888

$orange: (
  "light7": #ffd2c2,
  "light5": #ffb499,
  "light4": #ffa585,
  "light3": #ff9670,
  "light2": #ff875c,
  "light1": #ff7847,
  "normal": #ff6b35,
  // "dark1": #ff5a1f,
  "dark2": #ff4b0a,
  // "dark3": #f54100,
  "dark4": #e03c00
);

$green: (
  // "light5": #68dfa9,
  // "light4": #57dba0,
  // "light3": #46d896,
  // "light2": #35d48d,
  // "light1": #2bca82,
  "normal": #25b071,
  // "dark1": #24a86d,
  "dark2": #209762,
  // "dark3": #1d8757,
  "dark4": #19764c
);

$gray: (
  "light9": #ebebeb,
  "light7": #d6d6d6,
  "light4": #b8b8b8,
  "normal": #888888,
  "dark3": #707070
);

// special scenarios
$black: #333333;
$white: #ffffff;
$error: #d8000c;
$toolbar-background: map-get($orange, "normal");
