@import "../../../../utilities/partials/colorCodes";
@import "../../../../utilities/partials/mixins";

.hamburger {
  cursor: pointer;
  display: flex;
  background: transparent;
  border: none;
}

.line {
  fill: none;
  stroke: $black;
  stroke-width: 6;
  @include std-animation;
  transition-property: stroke-dasharray, stroke-dashoffset;

  &1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  &2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  &3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
}

.open {
  .line {
    &1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    &2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }

    &3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }
}
