@import "./utilities/partials/colorCodes";
@import "./utilities/partials/size";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Alata", sans-serif;
  line-height: 1.15;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Josefin Sans", sans-serif;
}

h1,
.h1 {
  font-size: 28px;

  @media (min-width: 576px) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 24px;

  @media (min-width: 576px) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 20px;

  @media (min-width: 576px) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 16px;
  font-weight: bold;
}

p,
.p {
  font-size: 14px;

  @media (min-width: 576px) {
    font-size: 16px;
  }
}

.btn {
  display: inline-block;
  border-radius: $border-radius;
  transition: background-color 100ms ease-in;

  &.fill {
    color: $white;
  }

  &.border {
    background-color: $white;

    &:hover {
      background-color: map-get($map: $gray, $key: "light9");
    }

    &:focus {
      background-color: map-get($map: $gray, $key: "light7");
    }
  }

  @mixin btn-types($color) {
    &.fill {
      border: 1px solid map-get($map: $color, $key: "normal");
      background-color: map-get($map: $color, $key: "normal");

      &:hover {
        background-color: map-get($map: $color, $key: "dark2");
      }

      &:focus {
        background-color: map-get($map: $color, $key: "dark4");
      }
    }

    &.border {
      color: map-get($map: $color, $key: "normal");
      border: 1px solid map-get($map: $color, $key: "normal");
    }
  }

  &.primary {
    @include btn-types($orange);
  }

  &.secondary {
    @include btn-types($green);
  }

  &.small {
    padding: 0.25 * $std-spacing 0.5 * $std-spacing;
  }

  &.medium {
    padding: 0.5 * $std-spacing 0.75 * $std-spacing;
    font-weight: bold;
  }

  &.large {
    padding: 0.75 * $std-spacing $std-spacing;
    font-size: 16px;
    font-weight: bold;
  }
}

.cont {
  $margin-vert: 2 * $std-spacing;
  max-width: 700px;
  margin: $margin-vert auto;
  padding: 0 $std-spacing;
  box-sizing: content-box;
  min-height: calc(100% - #{2 * $margin-vert});

  &.center {
    display: flex;
    justify-content: center;
  }
}

.heading {
  margin-bottom: 2 * $std-spacing;
}

.para {
  margin-bottom: $std-spacing;
  line-height: 1.3;
}
